* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORES DAS CASAS */
:root {
  --stark-house-color: #939393;
  --targaryen-house-color: #bb210c;
  --lannister-house-color: #8b0800;
  --baratheon-house-color: #e3c706;
  --tyrell-house-color: #4b860c;
  --martell-house-color: #dd8a07;
  --tully-house-color-one: #a01008;
  --tully-house-color-two: #08328b;
  --arryn-house-color: #2b5cb2;
  --greyjoy-house-color: #d8b10f;
}

/* TIPOGRAFIAS */
@font-face {
  font-family: "Got";
  src: url("../fonts/got.woff2");
}

body {
  background-color: black;
  /* background-image: url("/assets/imgs/webp/the-iron-throne-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden; */
}

/* TEXTOS */
h1,
h2,
h3 {
  font-family: "Got", serif;
  font-size: 2.4rem;
  color: white;
}
p {
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: white;
}

/* INPUT CHECKBOX - SOM AMBIENTE */
label span {
  color: white;
}
.container-checkbox {
  font-family: "Helvetica", sans-serif;
}
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.switch .switch-text {
  padding-right: 0.3rem;
  font-size: 1.2rem;
}
.switch .switch-wrapper {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}
.switch .switch-wrapper .switch-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: gray;
}
.switch .switch-wrapper #sound-on-off {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .switch-wrapper .switch-button::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: 0.4s all ease;
  background-color: aliceblue;
}
.switch .switch-wrapper #sound-on-off:checked + .switch-button {
  background-color: darkkhaki;
}
.switch .switch-wrapper #sound-on-off:checked + .switch-button::before {
  transform: translateX(26px);
}

#main-header {
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 12px 24px;

  /* border: 1px dashed red; */
}

#logo {
  height: 80px;
}

/* FOOTER PRINCIPAL */
#main-footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 48px;

  background-color: rgb(35, 35, 35);
}
