#hero {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  gap: 42px;

  width: 100%;
  height: 100vh;

  background-image: url("../imgs/webp/iron_throne.webp");
  background-position: center center;
  background-size: cover;

  /* border: 1px dashed red; */
}

#hero #link-start-game {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: 200px;
  height: 48px;

  border-radius: 999px;

  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;

  color: white;
  background-color: blue;
}

#hero #container-hero-title #hero-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 4.2rem;
  line-height: 4.2rem;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
#hero #container-hero-title #hero-paragraph {
  font-size: 1.6rem;
}
