@media screen and (max-width: 480px) {
  #hero {
    flex-direction: column;
    justify-content: center;
  }

  #hero-title {
    text-align: center;
  }

  #hero-paragraph {
    text-align: center;
    width: 300px;
  }

  #container-hero-subtitle-and-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  #container-houses article {
    flex-direction: column;
    padding: 24px;
  }

  .container-houses-title-and-infos {
    width: auto;
    text-align: center;
  }

  .shield {
    height: 200px; /* 300px era grande demais — ajuste ao gosto */
  }
}
